<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !flash.empty? %>
      <%= flash.each do |key, msg| %>
        <div><%= msg %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
